gateway-service/gatewayApp
user-service/userApp
auth-service/authApp
chat-service/chatApp
db-data
index.html
.DS_Store
match-service/matchApp
realtime-service/realtimeApp
consumer-service/consumerApp
match-socket-service/matchSocketApp
chat-socket-service/chatSocketApp
.env
push-service/pushApp
services/auth/authApp
services/user/userApp
